.header {
    width: 100%;
    height: 100vh;
    background: $verde_dark;
    .navegacion {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        &.nav-fija{
            position: fixed;
            top: 0;
            background: $verde_dark;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.377);
        }
        .items {
            display: flex;
            gap: 1.3rem;
            padding: 0 3rem;

            li a {
                color: $blanco;
                font-size: 1.5rem;
                transition: .4s ease-in-out;
                font-weight: 700;

                &:hover {
                    background: $blanco;
                    color: $verde_dark;
                    padding: .5rem;
                    border-radius: 5px;
                }
            }
        }
    }

    .logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
        img {
            width: 60%;
            height: 60%;
        }

        p {
            color: $blanco;
        }
    }

    .img-abarrotes {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;

        .icon-abarrotes {
            width: 197px;
            height: 170px;
            object-fit: cover;
            object-position: 50% 50%;
            transition: 1s;

            &:hover {
                animation: animaAbarrotes 1s!important;
            }

            @keyframes animaAbarrotes {
                0% {
                    transform: translateY(0);
                }

                25% {
                    transform: translateY(-15px);
                }

                50% {
                    transform: translateY(15px);
                }
            }
        }
    }
}